# Challenge 2 - ANOVA

In statistics, **Analysis of Variance (ANOVA)** is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. [Read more about the difference between t-test and ANOVA](http://b.link/anova24).

From the ANOVA test, you receive two numbers. The first number is called the **F-value** which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In [this table](http://b.link/eda14) you can find the critical values of the F distribution. **If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.**

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. **Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.**

In this challenge, we want to understand whether there are significant differences among various types of pokemons' `Total` value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA.

In [41]:
# Import libraries
import pandas as pd
from scipy.stats import f_oneway

In [42]:
# Load the data:
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

**To achieve our goal, we use three steps:**

1. **Extract the unique values of the pokemon types.**

1. **Select dataframes for each unique pokemon type.**

1. **Conduct ANOVA analysis across the pokemon types.**

#### First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called `unique_types`.

*Hint: the correct number of unique types is 19 including `NaN`. You can disregard `NaN` in next step.*

In [43]:
unique_types = set(pokemon['Type 1'].append(pokemon['Type 2']))

len(unique_types) # you should see 19

19

#### Second we will create a list named `pokemon_totals` to contain the `Total` values of each unique type of pokemons.

Why we use a list instead of a dictionary to store the pokemon `Total`? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which `Total` belongs to which pokemon type.

*Hints:*

* Loop through `unique_types` and append the selected type's `Total` to `pokemon_groups`.
* Skip the `NaN` value in `unique_types`. `NaN` is a `float` variable which you can find out by using `type()`. The valid pokemon type values are all of the `str` type.
* At the end, the length of your `pokemon_totals` should be 18.

In [54]:
pokemon_groups = pokemon.groupby('Type 1')['Total'].apply(list).reset_index() + pokemon.groupby('Type 2')['Total'].apply(list).reset_index()
print(pokemon_groups)
pokemon_groups = pokemon_groups['Total']

pokemon_totals = list(pokemon_groups)

len(pokemon_totals) # you should see 18

Total  Type 1  Type 2
0   [195, 205, 395, 195, 205, 395, 495, 285, 405, ...     NaN     NaN
1   [525, 405, 430, 330, 500, 600, 220, 420, 380, ...     NaN     NaN
2   [300, 420, 600, 490, 590, 300, 420, 600, 700, ...     NaN     NaN
3   [320, 485, 325, 465, 330, 480, 490, 525, 580, ...     NaN     NaN
4   [323, 483, 218, 245, 405, 300, 450, 545, 303, ...     NaN     NaN
5   [305, 455, 305, 405, 505, 455, 455, 210, 455, ...     NaN     NaN
6   [309, 405, 534, 634, 634, 299, 505, 350, 555, ...     NaN     NaN
7   [580, 580, 245, 535, 534, 634, 395, 251, 349, ...     NaN     NaN
8   [310, 405, 500, 600, 435, 295, 455, 555, 295, ...     NaN     NaN
9   [318, 405, 525, 625, 320, 395, 490, 300, 390, ...     NaN     NaN
10  [300, 450, 265, 405, 320, 425, 345, 485, 430, ...     NaN     NaN
11  [455, 580, 250, 450, 330, 305, 300, 480, 580, ...     NaN     NaN
12  [251, 349, 479, 579, 253, 413, 262, 442, 270, ...     NaN     NaN
13  [288, 438, 275, 365, 505, 273, 365, 505, 245, ...     NaN     NaN
14  [310, 400, 500, 590, 328, 483, 460, 680, 780, ...     NaN     NaN
15  [300, 390, 495, 385, 355, 495, 355, 495, 515, ...     NaN     NaN
16  [510, 610, 465, 380, 480, 330, 430, 530, 630, ...     NaN     NaN
17  [314, 405, 530, 630, 320, 500, 300, 385, 510, ...     NaN     NaN

18

#### Now we run ANOVA test on `pokemon_totals`.

*Hints:*

* To conduct ANOVA, you can use `scipy.stats.f_oneway()`. Here's the [reference](http://b.link/scipy44).

* What if `f_oneway` throws an error because it does not accept `pokemon_totals` as a list? The trick is to add a `*` in front of `pokemon_totals`, e.g. `stats.f_oneway(*pokemon_groups)`. This trick breaks the list and supplies each list item as a parameter for `f_oneway`.

In [57]:
statistic, p_value = f_oneway(*pokemon_totals)
print(p_value)

2.6457458815984803e-15

#### Interpret the ANOVA test result. Is the difference significant?

In [48]:
# Your comment here